* {
  margin: 0;
  padding: 0;
}
.wrapper {
  /* width: fit-content; */
  border: 2px solid black;
  margin: auto;
  background-color: gray;
}
.SignUpName {
  color: white;
  margin-bottom: 20px;
}
.MobileNumberInput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.email {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
